<div class="wrapper h-full">
  <div class="content">
    <div class="input">
      <p-inputGroup>
        <input type="text" pInputText placeholder="Search user" [(ngModel)]="keyword"
          (ngModelChange)="onSearchKeyChange()" />
        <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
      </p-inputGroup>
    </div>

    <div class="results">
      <ng-container *ngIf="(searchResultUsers$ | async) as users">
      <div *ngIf="!isLoading;else searchingTemplate">
        <div class="users" *ngIf="users.length;else noUserFound">
        <div class="user mt-2" *ngFor="let user of users" (click)="selectUser(user)">
          <div class="w-full p-2 hover:bg-slate-200 rounded cursor-pointer">
            <div class="flex w-full">
              <p-avatar *ngIf="user.profileImage" [image]="user.profileImage" styleClass="mr-2" size="large" shape="circle" />
              <p-avatar *ngIf="!user.profileImage" [label]="user.name.charAt(0).toUpperCase()" styleClass="mr-2" size="large" shape="circle" />

              <div class="title flex-1 flex flex-col justify-center">
                <div class="text">{{user.name}}</div>
                <div class="sub-text text-gray-400 text-xs">{{user.email}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  </div>
</div>

<ng-template #searchingTemplate>
  <div class="loader h-full w-full flex flex-wrap d-flex justify-center items-center text-3xl py-5">
    <div class="icon">
      <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
    </div>
  </div>
</ng-template>

<ng-template #noUserFound>
  <div class="h-full w-full flex flex-wrap d-flex justify-center items-center text-3xl py-5">
    <div class="icon mr-1">
      <i class="fa-solid fa-user-large"></i>
    </div>
    <div class="text">No User Found</div>
  </div>
</ng-template>

